@font-face {
    font-family: "Allura";
    src: url('../../fonts/Allura-Regular.ttf') format('truetype');
}
.logo{
    font-family: "Allura";
    box-sizing: border-box;
}
.navbar {
    position: fixed;
}

.navbar_links {
    border-bottom: 2px solid transparent;
    border-width: "20px";
}

.navbar_links:hover {
    border-bottom: 2px solid #86c232;
    border-width: "20px";
}