.hexagon {
    width: 150px;
    height: 86px;
    position: relative;
    border-right: 1px solid #1b66c9;
    border-left: 1px solid #1b66c9;
    z-index: 1;
}

.hexagon:before,
.hexagon:after {
    content: "";
    width: 100%;
    ;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-right: 1px solid #1b66c9;
    border-left: 1px solid #1b66c9;
}

.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
    top: 0px;
}